<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%- title %></title>
		<%- assets.css() %>
		<%- assets.js() %>
		<link rel="stylesheet" href="/css/jquery.mobile.structure-1.3.1.min.css">
		<link rel="stylesheet" href="/css/broomlight.css">
		<link rel="stylesheet" href="/css/style.css">
		<!-- <link rel="stylesheet" href="/css/jquery.mobile-1.3.1.min.css"> -->
		
		<!-- jquery.mobile-1.3.1.min.css -->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jqm-config.js"></script>
		<script type="text/javascript" src="/js/jquery.mobile-1.3.1.min.js"></script>
		<script type="text/javascript" src="/js/underscore-min.js"></script>
		<script type="text/javascript" src="/js/backbone-min.js"></script>
		<script type="text/javascript" src="/js/backbone.marionette.min.js"></script>
	</head>
	<body>
		<%- body %>

		<!-- Templates from your view path are included here -->
		<%- assets.templateLibrary() %>
	</body>
</html>
