.logo {
	background: url("/images/logo.png");
	width: 300px;
	height: 148px;
	margin: 50px auto;
}

body {
    margin: 0;
}

div#container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

div[data-role="header"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

div[data-role="content"].scroller {
    position: absolute;
    top: 45px;
    bottom: 45px;
    left: 0;
    right: 0;
}
div[data-role="content"].scroller2 {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
}

div[data-role=page] {
	height: 100% !important;
	position:relative !important;
}
div[data-role=footer] {
	bottom:0;
	position:absolute !important;
	top: auto !important;
	width:100%;
	z-index: 100;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

    /* iOS specific fix, don't use it on Android devices */
.scrollable > * {
    -webkit-transform: translateZ(0px);
}

/*#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:45px; left:0;
	width:100%;
	overflow:auto;
}
*/

li[data-role="fieldcontain"] {
	line-height: 3em;
}
.ui-checkbox {
    float: left;
    display: inline-block;
    margin:5px;
}
.btnEdit, .deleteSchedule, .labelDaily {
    line-height: 1em;
}
a img {
    margin: 0 auto;
}
#myLoader.ui-icon-loading {
    background: url(images/ajax-loader.gif) no-repeat;
    background-size: 46px 46px;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}
#map, #mapProfile, #profpic { 
    width:100%; 
    height:250px; 
    color:#000;
} 
.wrap {
    position: relative;
}
div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0; /* position will be on bottom */  
    left:0;  
    width:100%;  
    /* styling bellow */  
    background-color:black;
    color:white;  
    opacity:0.8; /* transparency */  
    filter:alpha(opacity=80); /* IE transparency */  
}  
p.description_content{  
    padding:10px;  
    margin:0px;  
}  
.ui-input-search, div.ui-input-text, textarea.ui-input-text {
    background: #ffffd5;
}
#container {
    margin-left:-20px;
}