<div data-role="page" id="management" data-theme="a">
	<div data-role="header">
		<a href="/menu" data-icon="back" class="ui-btn-left">Kembali</a>
		<h1>Power Consumption</h1>
	</div><!-- /header -->
	<div data-role="content" class="scroller">	
		
		<div class="ui-grid-b">
			<div class="ui-block-a">
				<a href="#" data-role="button">Hari ini</a>
			</div>
			<div class="ui-block-b">
				<a href="#" data-role="button">Minggu ini</a>
			</div>
			<div class="ui-block-c">
				<a href="#" data-role="button">Bulan ini</a>
			</div>
		</div>

		<div id="container" style="margin-top:100px; width:100%; height:400px;"></div>
		
	</div><!-- /content -->
	<div data-role="footer">
		<h4><%= user.username %></h4>
		<a class="ui-btn-right" style="margin: 0.1em; float: right"
	  data-ajax="false" data-icon="forward" href="/logout">
	  Logout</a>
	</div><!-- /footer -->
</div><!-- /page -->

<script type="text/javascript" src="/js/highcharts.js"></script>

<script type="text/javascript">
$(function() {
    var userProfile = {};
	var seriesPower;
	var group;
	$.post(
		'/rumah/myProfile', {},
		function(result) {
			userProfile = result;
            group = userProfile.user.group;
            $('#container').highcharts({
                chart: {
                    backgroundColor: null,
                    // animation: Highcharts.svg,
                    marginRight: 10,
                    type: 'spline',
                    events: {
                        load: function() {
                          seriesPower = this.series[0];
                        }
                    }
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'time',
                    lineColor: '#fff',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Watt'
                    },
                    gridLineColor: '#fff',
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }],
                },
                credits: {
                    enabled: false
                  },
                series: [{
                        name: userProfile.rumah.nama,
                        lineWidth: 7,
                        color: '#555',
                        marker: {
                      lineWidth: 7,
                      radius: 8
                    },
                    data: [
                        ['12:00:00', 300],
                        ['12:00:01', 301],
                        ['12:00:02', 302],
                        ['12:00:03', 303],
                        ['12:00:04', 304],
                        ['12:00:05', 305],
                        ['12:00:06', 306],
                        ['12:00:07', 307],
                        ['12:00:08', 307],
                        ['12:00:09', 307],
                        ['12:00:10', 307],
                    ]
                }]
            });
		}
	);
    Highcharts.setOptions({
      global: {
          useUTC: false
      }
    });

	var socket = io.connect();
	socket.on('connect', function() {
		socket.request('/electricity',{}, function (response) { 
		});
		socket.on('detik', function(msg) {
			if (group == msg.groupId) {
				var x = msg.timestamp;
				var y = msg.value;
				console.log(msg.timestamp);
				console.log(msg.value);
				seriesPower.addPoint([x, y], true, true);
			}
		});
	});
});
</script>