<div data-role="page" id="formManagement" data-theme="a">
	<div data-role="header">
		<a href="/management" data-icon="back" class="ui-btn-left">Kembali</a>
		<h1>Perangkat</h1>
	</div><!-- /header -->
	<div data-role="content" class="scroller">	
	
		<form method="post" id="managementForm">
		  <select id="portId" name="portId">
		    <option value="">Pilih Port ID</option>  
		    <option value=1>1</option>  
		    <option value=2>2</option>  
		    <option value=3>3</option>
		    <option value=4>4</option>
		  </select>  
			 
			<input type="text" name="namePower" id="namePower" placeholder="Nama Perangkat" value="">
			<!-- <button type="submit" data-role="button">Login</button> -->
			<button type="submit" data-role="button" id="formButton" data-theme="b">Simpan</button>
		</form>	

	</div><!-- /content -->
	<div data-role="footer">
		<h4><%= user.username %></h4>
		<a class="ui-btn-right" style="margin: 0.1em; float: right"
	  data-ajax="false" data-icon="forward" href="/logout">
	  Logout</a>
	</div><!-- /footer -->
</div><!-- /page -->
<script type="text/javascript">
	$('#managementForm').submit(function() {
		if ($('#namePower').val() && $('#portId').val()) {
			$.post(
				'/power/createUpdate',
				$(this).serialize(),
				function (result) {
					window.location = '/management';
				}
			).fail(function(res) {
				alert('Error: ' + res.getResponseHeader('error'));
			});
		} else alert('Nama Perangkat tidak boleh kosong');
		return false;
	});
</script>