<div data-role="page" id="formSchedule" data-theme="a">
	<div data-role="header">
		<a href="/schedule" data-icon="back" class="ui-btn-left">Kembali</a>
		<h1 class="myRumah">Tambah Schedule</h1>
	</div><!-- /header -->
	<div data-role="content" class="scroller">	
	
		<form method="post" id="scheduleForm">
			<div class="ui-grid-b">
				<div class="ui-block-a">
					<span style="display:block">Jam</span>
				  <input type="text" name="jam" id="jam" placeholder="Jam" value="" class="dial" data-min="0" data-max="24"  data-role="none" data-width="130" data-fgColor="#555" data-bgColor="#fff">
				</div>
		  	<div class="ui-block-b">
		  		<span style="display:block">Menit</span>
		  		<input type="text" name="menit" id="menit" placeholder="Menit" value="" class="dial" data-min="0" data-max="59"  data-role="none" data-width="130" data-fgColor="#555" data-bgColor="#fff">
		  	</div>
		  	<div class="ui-block-c">
		  		<span style="display:block">Detik</span>
		  		<input type="text" name="detik" id="detik" placeholder="Detik" value="" class="dial" data-min="0" data-max="59"  data-role="none" data-width="130" data-fgColor="#555">
		  	</div>
		  </div> 
			<select id="powerId" name="powerId">
		    <option value="">Pilih Perangkat</option>  
		  </select>  
		  <select name="status" id="status" data-role="slider">
				<option value="0">Off</option>
				<option value="1">On</option>
			</select>
		 	<fieldset data-role="controlgroup">
				<input type="checkbox" name="daily" id="daily" class="custom" />
				<label for="daily">Berulang Setiap Hari</label>
		  </fieldset>
			<!-- <button type="submit" data-role="button">Login</button> -->
			<button type="submit" data-role="button" id="formButton" data-theme="b">Simpan</button>
		</form>	

	</div><!-- /content -->
	<div data-role="footer">
		<h4><%= user.username %></h4>
		<a class="ui-btn-right" style="margin: 0.1em; float: right"
	  data-ajax="false" data-icon="forward" href="/logout">
	  Logout</a>
	</div><!-- /footer -->
</div><!-- /page -->

<script type="text/javascript" src="/js/jquery.knob.js"></script>

<script type="text/javascript">
	$(".dial").knob();
	$.post(
		'/power/index', {},
		function (result) {
			for(var i = 0, l = result.length; i < l; i++) {
				var perangkat = result[i];
				$('#powerId').append("<option value='"+perangkat.portId+"'>"+perangkat.name+"</option>");
			}
		}
	);
	$('#scheduleForm').submit(function() {
		if (powerId) {
			$.post(
				'/schedules/create',
				$(this).serialize(),
				function (result) {
					window.location = '/schedule';
				}
			).fail(function(res) {
				alert('Error: ' + res.getResponseHeader('error'));
			});
		} else alert('Nama Perangkat tidak boleh kosong');
		return false;
	});
</script>