<script type="text/template" id="templateLoading">
	<span class="ui-icon ui-icon-loading" id="myLoader"></span>
</script>
<script type="text/template" id="powerTemplate">
	{{= name}}
	<span style="float: right">
		<select name="slider{{= id}}" id="slider{{= id}}" data-role="slider" data-id="{{= id}}" class="testing">
			<option value="0">Off</option>
			<option value="1"
			{{ if (status == 1) { }}
			    selected
			{{ } }}
			>On</option>
		</select>
	</span>
</script>

<div data-role="page" id="management" data-theme="a">
	<div data-role="header">
		<a href="/menu" data-icon="back" class="ui-btn-left">Kembali</a>
		<h1>Power Management</h1>
		<a href="/formManagement" data-icon="plus" class="ui-btn-right">Pengaturan Perangkat</a>
	</div><!-- /header -->
		<div data-role="content" class="scroller">	
		<div id="powerContainer">

		</div>

	</div><!-- /content -->
	<div data-role="footer">
		<h4><%= user.username %></h4>
		<a class="ui-btn-right" style="margin: 0.1em; float: right"
	  data-ajax="false" data-icon="forward" href="/logout">
	  Logout</a>
	</div><!-- /footer -->
</div><!-- /page -->

<script type="text/javascript">
var SailsCollection = Backbone.Collection.extend({
	sailsCollection: '',
	socket: null,
	sync: function(method, model, options) {
		var where = {};
		if (options.where) {
			where = {
				where: options.where
			}
		}
		if (typeof this.sailsCollection === 'string' && this.sailsCollection !== '') {
			this.socket = io.connect();
			this.socket.on('connect', _.bind(function(){
				this.socket.request('/' + this.sailsCollection, where, _.bind(function(users){
					this.set(users);
				}, this));

				this.socket.on('message', _.bind(function(msg){
					var m = msg.uri;
					if (m.indexOf("create") !== -1) {
						this.add(msg.data);
					} else if (m.indexOf("update") !== -1) {
						this.get(msg.data.id).set(msg.data);
					} else if (m.indexOf("destroy") !== -1){
						this.remove(this.get(msg.data.id));
					}
				}, this));
			}, this));
		} else {
			console.log('Error: Cannot retrieve models because property "sailsCollection" not set on the collection');
		}
	}
});

var PowerModel = Backbone.Model.extend({
	urlRoot: '/power'
});
var PowerCollection = SailsCollection.extend({
	sailsCollection: 'power',
	model: PowerModel
});
var powers = new PowerCollection();
powers.fetch();

_.templateSettings = {
	evaluate    : /\{\{([\s\S]+?)\}\}/g,
  interpolate : /\{\{=([\s\S]+?)\}\}/g,
  escape      : /\{\{-([\s\S]+?)\}\}/g
};

var PowersView = Marionette.ItemView.extend({ 
	tagName: 'li',
	attributes: {
		'data-role' : 'fieldcontain'
	},
	template: '#powerTemplate'
}); 

var LoadingView = Marionette.ItemView.extend({
  template: "#templateLoading"
});

var PowersViewList = Marionette.CollectionView.extend({
	tagName: 'ul',
	emptyView: LoadingView,
	attributes: {
		'data-role': 'listview',
		'data-inset': true
	},
	itemView: PowersView,
	initialize: function() {
		this.collection.on('change', this.render, this);
	},
	onAfterItemAdded: function(itemView){
		if (this.$el.hasClass('ui-listview')) {
			this.$el.listview('refresh');
		} else this.$el.trigger('create');
		if ( itemView.$el.find('.testing').hasClass('ui-slider-switch')) {
			itemView.$el.find('.testing').slider('refresh');
		} else {
			itemView.$el.find('.testing').slider({
				stop: function (event, ui) {
					var model = powers.get(parseInt($(this).data('id')));
					model.set({status: parseInt($(this).val())});
					model.save();
				}
			});
		}
  }
});

var powersList =  new PowersViewList({
	collection: powers
});

$('#powerContainer').html(powersList.render().$el);

</script>