<script type="text/template" id="templateLoading">
	<span class="ui-icon ui-icon-loading" id="myLoader"></span>
</script>
<script type="text/template" id="scheduleTemplate">
	{{= namaPower}}
	<div style="float:right">
		<a href="#" rel="{{= id}}" onclick="deleteSchedule({{= id}})" class="deleteSchedule">Batal</a>
		</div>
	<span style="float:right">
		{{ if (daily == 1) { }}
			Berulang
		{{ } else { }}
			Sekali
		{{ } }}	
		-
		{{ if (status == 1) { }}
		  ON
		{{ } else { }}
			OFF
		{{ } }}
		-
		{{= jam}}
	</span>
</script>
<div data-role="page" id="management" data-theme="a">
	<div data-role="header">
		<a href="/menu" data-icon="back" class="ui-btn-left">Kembali</a>
		<h1>Power Scheduler</h1>
		<a href="/formSchedule" data-icon="plus" class="ui-btn-right">Tambah Schedule</a>
	</div><!-- /header -->
		<div data-role="content" class="scroller">	

		<div id="scheduleContainer">
		</div>

	</div><!-- /content -->
	<div data-role="footer">
		<h4><%= user.username %></h4>
		<a class="ui-btn-right" style="margin: 0.1em; float: right"
	  data-ajax="false" data-icon="forward" href="/logout">
	  Logout</a>
	</div><!-- /footer -->
</div><!-- /page -->

<script type="text/javascript">
var SailsCollection = Backbone.Collection.extend({
	sailsCollection: '',
	socket: null,
	sync: function(method, model, options) {
		console.log(model);
		var where = {};
		if (options.where) {
			where = {
				where: options.where
			}
		}
		if (typeof this.sailsCollection === 'string' && this.sailsCollection !== '') {
			this.socket = io.connect();
			this.socket.on('connect', _.bind(function(){
				this.socket.request('/' + this.sailsCollection, where, _.bind(function(users){
					this.set(users);
				}, this));

				this.socket.on('message', _.bind(function(msg){
					var m = msg.uri;
					if (m.indexOf("create") !== -1) {
						this.add(msg.data);
					} else if (m.indexOf("update") !== -1) {
						this.get(msg.data.id).set(msg.data);
					} else if (m.indexOf("destroy") !== -1){
						this.remove(this.get(msg.data.id));
					}
				}, this));
			}, this));
		} else {
			console.log('Error: Cannot retrieve models because property "sailsCollection" not set on the collection');
		}
	}
});

var ScheduleModel = Backbone.Model.extend({
	urlRoot: '/schedules'
});
var ScheduleCollection = SailsCollection.extend({
	sailsCollection: 'schedules',
	model: ScheduleModel
});
var schedules = new ScheduleCollection();
schedules.fetch();

_.templateSettings = {
	evaluate    : /\{\{([\s\S]+?)\}\}/g,
  interpolate : /\{\{=([\s\S]+?)\}\}/g,
  escape      : /\{\{-([\s\S]+?)\}\}/g
};

var SchedulesView = Marionette.ItemView.extend({ 
	tagName: 'li',
	attributes: {
		'data-role' : 'fieldcontain'
	},
	template: '#scheduleTemplate'
}); 

var LoadingView = Marionette.ItemView.extend({
  template: "#templateLoading"
});

var SchedulesViewList = Marionette.CollectionView.extend({
	tagName: 'ul',
	emptyView: LoadingView,
	attributes: {
		'data-role': 'listview',
		'data-inset': true
	},
	itemView: SchedulesView,
	initialize: function() {
		this.collection.on('change', this.render, this);
	},
	onAfterItemAdded: function(itemView){
		if (this.$el.hasClass('ui-listview')) {
			this.$el.listview('refresh');
		} else this.$el.trigger('create');
		this.$el.find(".deleteSchedule").buttonMarkup( { inline: true, icon: "delete"} );
  }
});

var schedulesList =  new SchedulesViewList({
	collection: schedules
});

$('#scheduleContainer').html(schedulesList.render().$el);

function deleteSchedule(id)
{
	schedules.remove(schedules.get(id));
	$.post(
		'/schedules/destroy',
		{id:id},
		null
	);
}

</script>