body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body, .content {
  background: #FFFFA7;
}
.content {
  padding: 10px;
  overflow: auto;
}
.logo {
  background: url("../images/logo.png");
  width: 300px;
  height: 148px;
  margin: 50px auto;
}
.bar-title {
  background-color: #34ba15;
  background-image: -webkit-linear-gradient(top, #34ba15 0, #5c9534 100%);
  background-image: linear-gradient(to bottom, #34ba15 0, #5c9534 100%);
  border-bottom: 1px solid #278f0f;
}
#map, #mapProfile, #profpic { 
  width:100%; 
  height:250px; 
  color:#000;
} 
.menu {
  position: block;
}
.item {
  width: 50%;
  float: left;
}
.item .button-block {
  margin: 10px;
}
#myLoader {
  background: url("../images/ajax-loader.gif") no-repeat;
  background-size: 46px 46px;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
.wrap {
  position: relative;
}
div.description{  
  position:absolute; /* absolute position (so we can position it where we want)*/  
  bottom:0; /* position will be on bottom */  
  left:0;  
  width:100%;  
  /* styling bellow */  
  background-color:black;
  color:white;  
  opacity:0.8; /* transparency */  
  filter:alpha(opacity=80); /* IE transparency */  
}  
p.description_content{  
  padding:10px;  
  margin:0px;  
}  
.chat-new {
  height: 70px;
  padding: 10px;
  background: #FFFFA7;
  box-shadow: 0px 15px 50px #000;
}

.chat-new textarea {
  height: 50px;
}
.chat-new button {
  height: 50px;
}
.chat-bottom {
  margin-bottom: 70px;
}
.messageBox {
  margin-bottom: 10px;
}
.picture img{
  width: 55px;
  height: 55px;
}
.picture.self img{
  float: right;
}
.message {
  border-radius: 5px;
  background: #fff;
  margin-right: 0;
}
.message[class*='col-']:last-of-type {
  padding: 20px;
  position: relative;
}
.picture.self {
  float:right;
  margin-right:0;
  padding-left:20px;
  padding-right:0;
}
.message:after {
  content: "";
  top: 10px;
  left: -10px;
  bottom: auto;
  border-width: 10px 10px 10px 0;
  border-color: transparent white;
  position: absolute;
  border-style: solid;
  display: block;
}
.message.self {
  background: #dedede;
}
.message.self:after{
  border-width: 0;
}
.message.self:before{
  content: "";
  top: 10px;
  right: -10px;
  bottom: auto;
  border-width: 10px 0 10px 10px;
  border-color: transparent #dedede;
  position: absolute;
  border-style: solid;
  display: block;
}