.logo {
    background: url("../images/logo.png");
    width: 300px;
    height: 148px;
    margin: 50px auto;
}

body {
    margin: 0;
}

div#container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

div[data-role="header"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

div[data-role="content"].scroller {
    position: absolute;
    top: 45px;
    bottom: 45px;
    left: 0;
    right: 0;
}
div[data-role="content"].chat-scroll {
    bottom: 110px;
}

div[data-role="content"].scroller2 {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
}

div[data-role=page] {
    height: 100% !important;
    position:relative !important;
}
div[data-role=footer] {
    bottom:0;
    position:absolute !important;
    top: auto !important;
    width:100%;
    z-index: 100;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

    /* iOS specific fix, don't use it on Android devices */
.scrollable > * {
    -webkit-transform: translateZ(0px);
}

/*#wrapper {
    position:absolute; z-index:1;
    top:45px; bottom:45px; left:0;
    width:100%;
    overflow:auto;
}
*/

li[data-role="fieldcontain"] {
    line-height: 3em;
}
.ui-checkbox {
    float: left;
    display: inline-block;
    margin:5px;
}
.btnEdit, .deleteSchedule, .labelDaily {
    line-height: 1em;
}
a img {
    margin: 0 auto;
}
#myLoader.ui-icon-loading {
    background: url("../images/ajax-loader.gif") no-repeat;
    background-size: 46px 46px;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}
#map, #mapProfile, #profpic { 
    width:100%; 
    height:250px; 
    color:#000;
} 
.wrap {
    position: relative;
}
div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0; /* position will be on bottom */  
    left:0;  
    width:100%;  
    /* styling bellow */  
    background-color:black;
    color:white;  
    opacity:0.8; /* transparency */  
    filter:alpha(opacity=80); /* IE transparency */  
}  
p.description_content{  
    padding:10px;  
    margin:0px;  
}  
.ui-input-search, div.ui-input-text, textarea.ui-input-text {
    background: #ffffd5;
}
#container {
    margin-left:-20px;
}
.newMessageForm {
    bottom:0;
    position:absolute !important;
    top: auto !important;
    width: 100%;
    padding: 0 10px;
    z-index: 999;
    height: 110px;
    box-sizing: border-box;
}
.chat-item-picture.ui-block-a {
    width: 10%;
}
.chat-item-message.ui-block-b {
    width: 90%;
    padding-left: 20px;
}
span.chat-balloon {
    background: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
}
span.chat-user {
    font-weight: bold;
    color: #999;
}
span.chat-time {
    color: #9e9e9e;
    font-size: .9em;
}
.chat-item.ui-grid-a {
    margin-bottom: 10px;
}
span.chat-balloon:after {
  content: "";
  top: 10px;
  left: -10px;
  bottom: auto;
  border-width: 10px 10px 10px 0;
  border-color: transparent white;
  position: absolute;
  border-style: solid;
  display: block;
}