<div data-role="page" id="login" data-theme="a" data-title="Login Camel">
<div data-role="header">
	<a href="/menu" data-icon="back" class="ui-btn-left">Kembali</a>
	<h1 class="myRumah">Broomlight Chat</h1>
</div><!-- /header -->
<div data-role="content" class="scroller">
	<div class="newMessageForm">
		<textarea id="message" placeholder="Enter your message here:" cols="30" rows="10"></textarea>
		<button id="postMessageButton">Kirim Pesan</button>
	</div>
	
	<div id="messagesContainer">

	</div>
</div>
<div data-role="footer">
	<h4><%= username %></h4>
	<a class="ui-btn-right" style="margin: 0.1em; float: right"
  data-ajax="false" data-icon="forward" href="logout">
  Logout</a>
</div><!-- /footer -->
</div><!-- /page -->

<script type="text/template" id="templateChat">
	{{ username }} : <span>{{ message }}</span>
</script>

<script type="text/template" id="templateLoading">
	<span class="ui-icon ui-icon-loading" id="myLoader"></span>
</script>

<script>

	var SailsCollection = Backbone.Collection.extend({
		sailsCollection: '',
		socket: null,
		sync: function(method, model, options) {
			var where = {};
			if (options.where) {
				where = {
					where: options.where
				}
			}
			if (typeof this.sailsCollection === 'string' && this.sailsCollection !== '') {
				this.socket = io.connect();
				this.socket.on('connect', _.bind(function(){
					this.socket.request('/' + this.sailsCollection, where, _.bind(function(users){
						this.set(users);
					}, this));

					this.socket.on('message', _.bind(function(msg){
						var m = msg.uri;
						if (m.indexOf("create") !== -1) {
							this.add(msg.data);
						} else if (m.indexOf("update") !== -1) {
							this.get(msg.data.id).set(msg.data);
						} else if (m.indexOf("destroy") !== -1){
							this.remove(this.get(msg.data.id));
						}
					}, this));
				}, this));
			} else {
				console.log('Error: Cannot retrieve models because property "sailsCollection" not set on the collection');
			}
		}
	});

	var MessageModel = Backbone.Model.extend({
		urlRoot: '/messages'
	});

	var MessageCollection = SailsCollection.extend({
		sailsCollection: 'messages',
		model: MessageModel
	});

	var messages = new MessageCollection();
	messages.fetch();
	
	_.templateSettings = {
		interpolate: /\{\{(.+?)\}\}/g
	};

	var MessagesView = Marionette.ItemView.extend({
		tagName: 'li',
		template: '#templateChat'
	});

	var LoadingView = Marionette.ItemView.extend({
	  template: "#templateLoading"
	});

	var MessagesViewList = Marionette.CollectionView.extend
	({
		tagName: 'ul',
		emptyView: LoadingView,
		attributes: {
			'data-role': 'listview',
			'data-inset': true
		},
		itemView: MessagesView,
		onAfterItemAdded: function(){
			if (this.$el.hasClass('ui-listview')) {
				this.$el.listview('refresh');
			} else this.$el.trigger('create');
	  }
	});

	var messagesList =  new MessagesViewList({
		collection: messages
	});

	$('#messagesContainer').html(messagesList.render().$el);

	$('#postMessageButton').click(function() {
		var messageText = $('#message').val();
		messages.create({message: messageText}, {wait: true});
		$('#message').val('');
	});
</script>