<div data-role="page" id="login" data-theme="a" data-title="Login Broomlight">
	<div data-role="content">
		<div class="logo"></div>
		<form method="post" id="loginForm">
			<input type="text" name="username" id="username" placeholder="Username" value="">
			<input type="password" name="password" id="password" placeholder="Password" value="">
			<!-- <button type="submit" data-role="button">Login</button> -->
			<button type="submit" data-role="button" id="loginButton" data-theme="b">Login</button>

			<a href="#signup" onclick="signup()" data-role="button">Signup</a>
		</form>	
	</div><!-- /content -->
</div><!-- /page -->

<div data-role="page" id="signup" data-theme="a" data-title="Signup Broomlight">
	<div data-role="header">
		<a href="#login" data-icon="back" class="ui-btn-left">Kembali</a> 
		<h1>Signup Broomlight</h1>
	</div><!-- /header -->
	<div data-role="content" class="scroller2"> 
		<div style="height:10px"></div>
	<form method="post" id="signupForm">
		<input type="text" id="signupName" placeholder="name" />
		<input type="password" id="signupPassword" placeholder="password" />
		<input type="password" id="signupConfirmPassword" placeholder="confirm password" />
		<input type="text" id="emailName" placeholder="email" />

		<p>Anda bisa memilih rumah yang sudah ada atau mendaftarkan rumah baru</p>
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<input type="text" id="rumahName" placeholder="Nama Rumah" disabled="disabled"/>
			</div>
			<div class="ui-block-b">
				<a href="#" data-role="button" id="addMapButton">+ Daftarkan Rumah</a>
			</div>
		</div>

		
		<div id="map"></div>
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<input type="text" id="rumahLat" placeholder="Latitude" disabled/>
			</div>
			<div class="ui-block-b">
				<input type="text" id="rumahLng" placeholder="Longitude" disabled/>
			</div>
		</div>
		

		<button type="submit" id="signupButton" data-theme="b">Signup</button>
	</form>
	</div><!-- /content -->
</div><!-- /page -->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="/js/jquery.gomap-1.3.2.min.js"></script>

<script>
$(function() {
	$('#loginForm').submit(function() {
		var username = $('#username').val();
		var password = $('#password').val();
		if (username && password) {
			$.post(
				'/login',
				{username: username, password: password},
				function () {
					window.location = '/menu';
				}
			).fail(function(res) {
				alert('Error: ' + res.getResponseHeader('error'));
			});
		} else {
			alert('A username and password is required');
		}
		return false;
	});
	$('#signupForm').submit(function(){
		var username = $('#signupName').val();
		var password = $('#signupPassword').val();
		var myemail = $('#emailName').val();
		var myrumah = $('#rumahName').val();
		var mylat = $('#rumahLat').val();
		var mylng = $('#rumahLng').val();
		var confirmPassword = $('#signupConfirmPassword').val();
		if (username && password && myrumah && myemail) {
			if (password === confirmPassword) {
				$.post(
					'/signup',
					{username: username, password: password,
						myrumah: myrumah, mylat :mylat, mylng:mylng, email: myemail},
					function() {
						window.location = '/menu';
					}
				).fail(function(res) {
					alert('Error: '+res.getResponseHeader('error'));
				});
			} else {
				alert("Passwords don't match");
			}
		} else {
			alert("Username, Password, Emal, dan Rumah tidak boleh kosong");
		}
		return false;
	});
});
function signup() {
	$("#map").goMap({ 
	  latitude: -6.9147444,
	  longitude: 107.6098111,
	  maptype: 'ROADMAP',
	  disableDoubleClickZoom: true,
	  zoom: 14 
	}); 
	$("#map").hide();
	$("#map").slideToggle('slow', function() {
	  google.maps.event.trigger($.goMap.map, 'resize');
	  var center = new google.maps.LatLng(-6.9147444,107.6098111);
	  $.goMap.map.setCenter(center);
	});
	$('#addMapButton').click(function () {
		$.goMap.createMarker({
			address: 'Bandung, Indonesia',
			title: '',
			html: {
				content: 'Drag ke alamat rumah baru yang dituju,<br> lalu tuliskan nama rumah baru',
				popup: true 
			},
			draggable: true,
			id: 'marker-new',
			icon: '/images/green-dot.png'
		});
		$(this).hide();
		$('#rumahName').removeAttr('disabled');
		$('#rumahName').textinput('enable');
		$('#rumahName').focus();
		$.goMap.createListener({type:'marker', marker: 'marker-new'}, 'dragend', function() { 
	    $('#rumahName').val($('#map').data('marker-new').getTitle());
	    var pos = $('#map').data('marker-new').getPosition();
	    $('#rumahLat').val(pos.lat());
	    $('#rumahLng').val(pos.lng());
	    $('#rumahName').focus();
		}); 
		google.maps.event.trigger($('#map').data('marker-new'), 'dragend');
	});
	$.get('/rumah', function(data) {
		for(var i = 0, l = data.length; i < l; i++) {
			var marker = data[i];
			addMarker('marker-'+marker.id, marker.lat, marker.long, marker.nama);
		}
	}, 'json');
	function addMarker(myId, lat, lng, myTitle)
	{
		$.goMap.createMarker({
			id: myId,
			latitude: lat,
			longitude: lng,
			title: myTitle
		});
		$.goMap.createListener({type:'marker', marker: myId}, 'click', function() { 
	    $('#rumahName').val($('#map').data(myId).getTitle());
	    var pos = $('#map').data(myId).getPosition();
	    $('#rumahLat').val(pos.lat());
	    $('#rumahLng').val(pos.lng());
		}); 
	}
}
</script>