<div data-role="page" id="menu" data-theme="a">
	<div data-role="header">
		<h1>Broomlight</h1>
		<a href="/settings" data-icon="gear" class="ui-btn-right">Settings</a>
	</div><!-- /header -->
	<div data-role="content" class="scroller">	
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<div class="wrap">
					<div id="profpic"></div>
					<div class='description'>  
		        <!-- description content -->  
		        <p class='description_content' id="profileNama"></p>  
		        <!-- end description content -->  
			    </div>  
		    </div>
			</div>
			<div class="ui-block-b">
				<div class="wrap">
					<div id="mapProfile"></div>
					<div class='description'>  
		        <!-- description content -->  
		        <p class='description_content' id="rumahNama"></p>  
		        <!-- end description content -->  
			    </div>  
			  </div>
			</div>	
			<div class="ui-block-a">
				<a href="/management" data-role="button" data-transition="slidefade">
					<img src="/images/management.png" alt=""> <br>
					Power<br>Management
				</a>
			</div>
			<div class="ui-block-b">
				<a href="/consumption" data-role="button">
					<img src="/images/consumption.png" alt=""> <br>
					Power<br>Consumption
				</a>
			</div>
			<div class="ui-block-a">
				<a href="/schedule" data-role="button">
					<img src="/images/schedule.png" alt=""> <br>
					Power<br>Scheduler
				</a>
			</div>
			<div class="ui-block-b">
				<a href="chat" data-role="button">
					<img src="/images/chat.png" alt=""> <br>
					Chat<br>&nbsp;
				</a>
			</div>
			<div class="ui-block-a">
				<a href="/cctv" data-role="button">
					<img src="/images/cctv.png" alt=""> <br>
					CCTV<br>Viewer
				</a>
			</div>
		</div>
	</div><!-- /content -->
	<div data-role="footer">
		<h4><%= username %></h4>
		<a class="ui-btn-right" style="margin: 0.1em; float: right"
	  data-ajax="false" data-icon="forward" href="/logout">
	  Logout</a>
	</div><!-- /footer -->
</div><!-- /page -->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="/js/jquery.gomap-1.3.2.min.js"></script>

<script type="text/javascript">
	$.post(
		'/rumah/myProfile', {},
		function(result) {
			$("#mapProfile").goMap({ 
			  latitude: result.rumah.lat,
			  longitude: result.rumah.long,
			  disableDoubleClickZoom: true,
			  zoom: result.rumah.zoom,
			  maptype: 'ROADMAP'
			}); 
			$.goMap.createMarker({
				id: 'marker',
				latitude: result.rumah.lat,
				longitude: result.rumah.long,
				title: result.rumah.nama
			});
			$('#profpic').html('<div style="background:url('+result.profpic+') no-repeat; height:250px; width:100%"></div>');
			$('#profileNama').html(result.user.username);
			$('#rumahNama').html(result.rumah.nama);
		}
	);
</script>