.logo {
	background: url(images/logo.png);
	width: 300px;
	height: 148px;
	margin: 50px auto;
}

body {
    margin: 0;
}

div#container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

div[data-role="header"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

div[data-role="content"].scroller {
    position: absolute;
    top: 45px;
    bottom: 45px;
    left: 0;
    right: 0;
}

div[data-role=page] {
	height: 100% !important;
	position:relative !important;
}
div[data-role=footer] {
	bottom:0;
	position:absolute !important;
	top: auto !important;
	width:100%;
	z-index: 100;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

    /* iOS specific fix, don't use it on Android devices */
.scrollable > * {
    -webkit-transform: translateZ(0px);
}

/*#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:45px; left:0;
	width:100%;
	overflow:auto;
}
*/

li[data-role="fieldcontain"] {
	line-height: 2em;
}