<header class="bar-title">
	<a id="back" onclick="window.history.back()" class="button button-positive">Kembali</a> 
	<h1 class="title">Broomlight Chat</h1>
</header><!-- /header -->
<div class="content chat-bottom">
	<div id="messagesContainer">
   
  </div>
</div>
<div class="bar-footer chat-new">
	<div class="newMessageForm grid">
		<div class="col-7-8">
			<textarea id="message" placeholder="Masukkan pesan disini:" cols="30" rows="2"></textarea> 
		</div>
		<div class="col-1-8">
			<button id="postMessageButton" class="button-positive">Kirim Pesan</button> 
		</div>
	</div> 
</div>