<div class="picture col-1-8">
	<img src="http://www.gravatar.com/avatar/812fbb0cc9c3293a674490c53e0d1933?s=300&r=G" alt="">
	<%= username %>
</div>
<div class="message col-7-8">
	<%= message %>
</div>