<div class="content">
  <div class="logo"></div>
  <form method="post" id="loginForm">
    <div class="input-group">
      <input type="text" name="username" id="username" placeholder="Username" value=""> 
      <input type="password" name="password" id="password" placeholder="Password" value="">
    </div>
    <button type="submit" class="button-block button-positive" id="loginButton" style="width:100%">Login</button>
  </form> 

  <a href="#signup" class="button-block">Signup</a>
</div>