<header class="bar-title">
	<a href="#" id="logout" class="button button-negative">Logout</a> 
	<h1 class="title">Menu Broomlight</h1>
</header><!-- /header -->
<div class="content">
	<div class="menu">
		<div class="item">
			<div class="wrap">
				<div id="profpic"></div>
				<div class='description'>  
					<!-- description content -->  
					<p class='description_content' id="profileNama"></p>  
					<!-- end description content -->  
				</div>  
			</div>
		</div>
		<div class="item">
			<div class="wrap">
				<div id="mapProfile"></div>
				<div class='description'>  
	        <!-- description content -->  
	        <p class='description_content' id="rumahNama"></p>  
	        <!-- end description content -->  
		    </div>  
		  </div>
		</div>
		<div class="item">
			<a href="#management" class="button-block"> 
				<img src="images/management.png" alt=""> <br> 
				Power<br>Management 
			</a> 
		</div>
		<div class="item">
			<a href="#electricity" class="button-block"> 
					<img src="images/consumption.png" alt=""> <br> 
					Power<br>Consumption 
				</a> 
		</div>
		<div class="item">
			<a href="#schedule" class="button-block"> 
					<img src="images/schedule.png" alt=""> <br> 
					Power<br>Scheduler
				</a> 
		</div>
		<div class="item">
			<a href="#chat" class="button-block"> 
					<img src="images/chat.png" alt=""> <br> 
					Chat<br>&nbsp;
				</a> 
		</div>
	</div>
	
</div>