<header class="bar-title">
  <a href="#" class="button button-positive">Kembali</a> 
  <h1 class="title">Signup Broomlight</h1>
</header><!-- /header -->
<div class="content"> 
  <div style="height:10px"></div>
  <form method="post" id="signupForm">
    <div class="input-group">
      <input type="text" id="signupName" placeholder="name" />
      <input type="password" id="signupPassword" placeholder="password" />
      <input type="password" id="signupConfirmPassword" placeholder="confirm password" />
      <input type="text" id="emailName" placeholder="email" />
    </div>

    <p>Anda bisa memilih rumah yang sudah ada atau mendaftarkan rumah baru</p>
    <input type="text" id="rumahName" placeholder="Nama Rumah" disabled="disabled"/>
    <a href="#" class="button-block button-positive" id="addMapButton">+ Daftarkan Rumah</a>
    <div id="map"></div>
    <input type="text" id="rumahLat" placeholder="Latitude" disabled/>
    <input type="text" id="rumahLng" placeholder="Longitude" disabled/>
    <button type="submit" id="signupButton" class="button-block" style="width:100%">Signup</button>
  </form>
</div>