<div data-role="page" id="cctv" data-theme="a">
	<div data-role="header">
		<a href="/menu" data-icon="back" class="ui-btn-left">Kembali</a>
		<h1>CCTV Viewer</h1>
	</div><!-- /header -->
	<div data-role="content" class="scroller">	
		<img src="" id="recvImage">  
	</div><!-- /content -->
	<div data-role="footer">
		<h4><%= user.username %></h4>
		<a class="ui-btn-right" style="margin: 0.1em; float: right"
	  data-ajax="false" data-icon="forward" href="/logout">
	  Logout</a>
	</div><!-- /footer -->
</div><!-- /page -->
<script type="text/javascript">
var socket = io.connect();
socket.on('connect', function() {
	socket.request('/cctv',{}, function (response) { 
	});
	socket.on('cctv', function(msg) {
		var img = $("#recvImage").get(0);
        img.src = msg.source; //data memiliki source yang berisi base64 image
	});
});
</script>